html,
body
{
    height: 100%;
    margin: 0;
    /*min-height: 100% !important;*/
    padding: 0;
}

#background
{
    display: table;

    width: 100%;
    height: 100%;

    background-color: #000;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
}

#loginContainer *
{
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    line-height: 1em;

    box-sizing: border-box;

    color: #fff;
}

#loginContainer
{
    position: relative;

    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

::-webkit-input-placeholder
{
    /* WebKit, Blink, Edge */
    color: #fff;
}
:-moz-placeholder
{
    opacity: 1;
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
::-moz-placeholder
{
    opacity: 1;
    /* Mozilla Firefox 19+ */
    color: #fff;
}
::-ms-input-placeholder
{
    /* Microsoft Edge */
    color: #fff;
}

::placeholder
{
    /* Most modern browsers support this now. */
    color: #fff;
}

#inputContainer
{
    float: left;

    width: 400px;
    padding: 45px;

    border-right: 1px solid #fff;
}

#inputContainer h2
{
    text-align: center;
}

#inputContainer input[type='text'],
#inputContainer input[type='email'],
#inputContainer input[type='password']
{
    line-height: 27px;

    display: block;

    width: 100%;
    height: 27px;

    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

#inputContainer label
{
    font-size: 13px;

    display: block;

    margin-top: 15px;

    color: #a0a0a0;
}

#inputContainer button
{
    font-size: 14px;

    display: block;

    width: 100%;
    height: 41px;
    margin: 20px auto;

    letter-spacing: 1px;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 250px;
    background-color: transparent;
}

#inputContainer button:hover
{
    cursor: pointer;
}

.hasAccountText span
{
    font-size: 12px;
    font-weight: bold;

    cursor: pointer;
}

.hasAccountText
{
    text-align: center;
}

#loginForm,
#registerForm
{
    display: none;
}

#loginText
{
    display: table-cell;

    padding: 45px;
}

#loginText h1
{
    font-size: 60px;
    font-weight: bold;

    color: #42a5f5;
}

#loginText h2
{
    margin: 35px 0;
}

#loginText ul
{
    padding: 0;
}

#loginText li
{
    font-size: 20px;

    padding: 5px 30px;

    list-style-type: none;

    background: url(../images/icons/checkmark.png) no-repeat 0 0;
}

#inputContainer .errorMessage
{
    font-size: 12px;

    display: block;

    color: #07d159;
}



