html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

*
{
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 1px;
    color: #fff;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
}


#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#mainContent {
    padding: 0 20px;
}

.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    width: 25%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.gridViewItem img {
    width: 100%;
}

.gridViewItem a {
    text-decoration: none;
}

.gridViewInfo {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.entityInfo {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftSection img {
    width: 100%;
}

.entityInfo .rightSection {
    width: 70%;
    float: left;;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2 {
    margin-top: 0px;
}

.entityInfo .rightSection p {
    color: #939393;
    font-weight: 200;
}

.tracklistContainer h2,
.gridViewContainer h2 {
    text-align: center;
}

.tracklist {
    padding: 0;
}

.tracklistRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}

.tracklistRow  span {
    color: #939393;
    font-weight: 200;
}

.tracklistRow:hover {
    background-color: #282828;
}

.tracklistRow .trackCount {
    width: 8%;
    float: left;
}

.tracklistRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.tracklistRow:hover .trackCount img {
    visibility: visible;
}

.tracklistRow .trackCount span {
    visibility: visible;
}

.tracklistRow:hover .trackCount span {
    visibility: hidden;
}

.tracklistRow .trackInfo {
    width: 75%;
    float: left;
}

.tracklistRow .trackInfo span{
    display: block;
}

.tracklistRow .trackInfo .trackName{
    color: #fff;
    margin-bottom: 7px;
}

.tracklistRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.tracklistRow .trackOptions img {
    width: 15px;
    visibility: hidden;
}

.tracklistRow:hover .trackOptions img {
    visibility: visible;
}

.tracklistRow .trackDuration {
    width: 12%;
    float: left;
    text-align: right;
}








#nowPlayingBarContainer
{
    position: fixed;
    bottom: 0;

    width: 100%;
    min-width: 620px;

    background-color: #282828;
}

#nowPlayingBar
{
    display: flex;

    box-sizing: border-box;
    height: 90px;
    padding: 16px;
}

#nowPlayingLeft,
#nowPlayingRight
{
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
	position: relative;
	margin-top: 16px;
}



#nowPlayingCenter
{
    display: flex;
    flex-direction: column;

    width: 40%;
    max-width: 700px;

    align-items: center;
}

#nowPlayingBar .content
{
    width: 100%;
    height: 57px;
}

.playerControls .buttons
{
    display: table;

    margin: 0 auto;
}

.controlButton
{
    vertical-align: middle;

    border: none;
    background-color: transparent;
}

.controlButton img
{
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img
{
    width: 32px;
    height: 32px;
}

.controlButton:hover
{
    cursor: pointer;
}

.progressTime
{
    font-size: 11px;

    min-width: 40px;

    text-align: center;

    color: #a0a0a0;
}

.progressBar
{
    display: inline-flex;

    width: 100%;
    height: 12px;

    cursor: pointer;
}

.playbackBar
{
    display: flex;
}

.progressBarBg
{
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: #404040;
}

.progress
{
    width: 50%;
    height: 4px;

    border-radius: 2px;
    background-color: #a0a0a0;
}

.playbackBar .progressBar
{
    margin-top: 4px;
}

#nowPlayingLeft .albumArtwork
{
    float: left;

    max-width: 57px;
    height: 100%;
    margin-right: 15px;

    background-size: cover;
}

.trackInfo
{
    display: table;
}

#nowPlayingLeft .trackInfo .trackName{
	margin: 6px 0;
	display: inline-block;
	width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
	font-size: 12px;
	color: #a0a0a0;
}

.volumeBar {
	width: 180px;
	position: absolute;
	right: 0;
}

.volumeBar .progressBar {
	width: 125px;

}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#navBarContainer {
	background-color: #000;
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.navBar {
	padding: 25px;
	display: flex;
	flex-direction: column;
}

.logo {
	margin-bottom: 16px;
}

.logo img {
	width: 48px;
}

.navBar .group {
	border-top: 1px solid #a0a0a0;
	padding: 10px 0;
}

.navItem {
	padding: 10px 0;
	font-size: 14px;
	font-weight: 700;
	display: block;
	letter-spacing: 1px;
	position: relative;
}

.navItemLink {
	color: #a0a0a0;
	text-decoration: none;
}

.navItemLink:hover {
	color: #fff;
	text-decoration: none;
}


.navItemLink .icon {
	position: absolute;
	right: 0;
	top: 8px;
	width: 25px;
}



.artistInfo {
    text-align: center;
}

.button {
    color:#fff;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: transparent;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 500px;
    padding: 15px;
    min-width: 150px;
}

.button.green {
    background-color: #2ebd59;
    border-color: #2ebd59;
}

.borderBottom {
    border-bottom: 1px solid #939393;
    margin-bottom: 20px;
}

[role="link"] {
    cursor: pointer;
}

.searchContainer {
    background-color: #242424;
    padding: 20px 28px;
}

.searchContainer h4 {
    margin: 0;
    font-weight: 300;
}

.searchContainer .searchInput {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 62px;
    letter-spacing: 2px;
}

input:focus {
    outline: none;
}

.searchResultRow {
    padding: 15px 10px;
}

.searchResultRow:hover {
    background-color: #282828;
}

.searchResultRow .artistName span {
    color: #fff;
    font-size: 18px;
}

.artistsContainer h2 {
    text-align: center;
}

.noResults {
    margin: 15px;
    display: block;
}

.buttonItems .button {
    display: block;
    margin: 0 auto 20px auto;
}

.playlistsContainer {
    padding: 10px 0;
}

.playlistImage {
    border: 3px solid #282828;
    padding: 10px;
}

.optionsMenu {
    position: fixed;
    background-color: #282828;
    width: 200px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    z-index: 1000;
    display: none;
}

.optionsMenu .item {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: rgba(147,147,147, 0.8);
    cursor: pointer;
    height: 40px;
    background-color: #282828;
    font-size: 14px;
}

.optionsMenu .item:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.optionsMenu select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.userInfo h1 {
    text-align: center;
}

.userDetails {
    padding: 20px;
}

.userDetails .container h2 {
    text-align: center;
}

.userDetails .container input[type="text"],
.userDetails .container input[type="password"],
.userDetails .container .button {
    display: block;
    margin: 16px auto;
}

.userDetails .container input[type="text"],
.userDetails .container input[type="password"] {
    height: 50px;
    width: 100%;
    background-color: #1f1f1f;
    border: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px;
}

.userDetails .container .message {
    padding: 0 20px;
    color: #2ebd59;
    font-weight: 300;
}











